// Declaring Fonts from MWF framework

@font-face {
  font-family: 'Segoe UI Regular';
  src: local('Segoe UI Regular'),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2") format("woff2"),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Segoe UI Light';
  src: local('Segoe UI Light'),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.woff2") format("woff2"),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.woff") format("woff"),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.ttf") format("ttf");
  font-weight: 100;
}

@font-face {
  font-family: 'Segoe UI Semilight';
  src: local('Segoe UI Semilight'),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.woff2") format("woff2"),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.woff") format("woff"),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.ttf") format("ttf");
  font-weight: 200;
}

@font-face {
  font-family: 'Segoe UI Semibold';
  src: local('Segoe UI Semibold'),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.woff2") format("woff2"),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.woff") format("woff"),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Segoe UI Bold';
  src: local('Segoe UI Bold'),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.woff2") format("woff2"),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.woff") format("woff"),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.ttf") format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'Oswald-Regular';
  src: local('Oswald-Regular'),
  url("assets/font/Oswald-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Oswald-Bold';
  src: local('Oswald-Regular'),
  url("assets/font/Oswald-Bold.ttf") format("ttf"),
  url("assets/font/Oswald-Bold.woff") format("woff"),
  url("assets/font/Oswald-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: 'Oswald-ExtraLight';
  src: local('Oswald-ExtraLight'),
  url("assets/font/Oswald-ExtraLight.ttf") format("ttf"),
  url("assets/font/Oswald-ExtraLight.woff") format("woff"),
  url("assets/font/Oswald-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: 'Oswald-Light';
  src: local('Oswald-Light'),
  url("assets/font/Oswald-Light.ttf") format("ttf"),
  url("assets/font/Oswald-Light.woff") format("woff"),
  url("assets/font/Oswald-Light.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: 'Oswald-Medium';
  src: local('Oswald-Light'),
  url("assets/font/Oswald-Medium.ttf") format("ttf"),
  url("assets/font/Oswald-Medium.woff") format("woff"),
  url("assets/font/Oswald-Medium.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: 'Oswald-SemiBold';
  src: local('Oswald-SemiBold'),
  url("assets/font/Oswald-Medium.ttf") format("ttf"),
  url("assets/font/Oswald-Medium.woff") format("woff"),
  url("assets/font/Oswald-Medium.woff2") format("woff2");
  font-weight: 600;
}
