// Variables

// Font families
$segoe: 'Segoe UI Regular', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$segoe--light: 'Segoe UI Light', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$segoe--semi: 'Segoe UI Semibold', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$segoe--bold: 'Segoe UI Bold', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$Oswald-Regular: 'Oswald-Regular';
$Oswald-ExtraLight: 'Oswald-ExtraLight';
$Oswald-Light: 'Oswald-Light';
$Oswald-Bold: 'Oswald-Bold';
$Oswald-Medium: 'Oswald-Medium';
$Oswald-SemiBold: 'Oswald-SemiBold';
// MWF Font weights
$bold: 700;
$semi-bold: 600;
$normal: 200;

// Colors (You will most likely have to edit these on a project to project basis)
$text--white:       #ffffff;
$text--default:     #000000;
$text--grey:        #737373;
$text--blue:        #0078D7;

$bg--white:         #ffffff;
$bg--black:         #000000;
$bg--blue:          #495db8;
$bg--cyan: #B0DDEE;

$txt-left: left;

$ft12: 12pt;
$ft15: 15pt;
$ft18: 18pt;
$ft20: 20pt;
