.fpbanner {
    
    @extend .w-100;   
    @extend .h100vh;
    background-image: url('./assets/Zensar-Eon-01.jpg');
    background-size: cover;
    @extend .bg-image;
    @extend .tilteffect;
    
    @include media-breakpoint-between(sm,md) {
        height: 50vh;
    }
    @include  media-breakpoint-between(md,lg){height: 50vh;}

    

   &__text{
   
       &--para{
        top: 20em;
        width: 50%;
        color: $bg--black;
        @include media-breakpoint-between(sm,md) {
            top: 50%;
            text-align: $txt-left;
            width: 100%;
            
            
        }
        @include  media-breakpoint-between(md,lg){
            top: 50%;
            text-align: $txt-left;
            width: 35%;
        }
        @include  media-breakpoint-only(xl) {
           
        }
       }
   }
   &__heading{
       @include media-breakpoint-between(sm,md) {
   
        text-align: $txt-left;
        font-size: $ft18;
        font-weight: 700;
       
       }
       @include  media-breakpoint-between(md,lg){
        font-size: $ft20;
        margin: 4px;
        
       }

    &--ptext{
        @include media-breakpoint-between(sm,md) {
            margin: 0;
    }
    

        }

       
   }
   &__fpl2{
    @include media-breakpoint-between(sm,md) {
        top: 8em;
        text-align: $txt-left;
        font-size: $ft12;
        color: $bg--black;
        
    }
    @include  media-breakpoint-between(md,lg){
        font-size: $ft12;
        padding: 5px;
        color: $bg--black;
       }
       @include  media-breakpoint-only(xl) {
        font-size: $ft15;
        padding: 5px;
        color: $bg--black;
           
    }
    &--fpl2text {
        @include media-breakpoint-between(sm,md) {
            top: 8em;
            text-align: $txt-left;
            font-size: $ft12;
            margin: 0;
            
        }
        
    }
   }
   
   }
    
 

  
  