.fpbanner {
    
    @extend .w-100;   
    @extend .h100vh;
    //background-image: linear-gradient(#01a38d, #2cb8e7);
    @extend .bg-image;
    @extend .tilteffect;
    
    

   &__text{
   
       &--para{
        top: 20em;
        width: 50%;
        color: $text--white;
        @include media-breakpoint-between(sm,md) {
            top: 50%;
            text-align: $txt-left;
            width: 100%;
            
        }
        @include  media-breakpoint-between(md,lg){
            top: 50%;
            text-align: $txt-left;
            width: 35%;
        }
        @include  media-breakpoint-only(xl) {
           
        }
       }
   }
   &__heading{
       @include media-breakpoint-between(sm,md) {
   
        text-align: $txt-left;
        font-size: 18pt;
        font-weight: 700;
       
       }
       @include  media-breakpoint-between(md,lg){
        font-size: 20pt;
        margin: 4px;
        
       }

    &--ptext{
        @include media-breakpoint-between(sm,md) {
            margin: 0;
    }
    

        }

       
   }
   &__fpl2{
    @include media-breakpoint-between(sm,md) {
        top: 8em;
        text-align: left;
        font-size: 12pt;
        color: $bg--cyan;
        
    }
    @include  media-breakpoint-between(md,lg){
        font-size: 12pt;
        padding: 5px;
        color: $bg--cyan;
       }
       @include  media-breakpoint-only(xl) {
        font-size: 15pt;
        padding: 5px;
        color: $bg--cyan;
           
    }
    &--fpl2text {
        @include media-breakpoint-between(sm,md) {
            top: 8em;
            text-align: left;
            font-size: 12pt;
            margin: 0;
            
        }
        
    }
   }
   
   }
    
    
    

  
  