.banner {
    background-color: $bg--blue;
    background-image: url('./assets/7T9364v.gif');
    @extend .w-100;   
    @extend .h100vh;
    @extend .tilteffect;
    
    @include media-breakpoint-between(sm,md) {
      height: 50vh;
    }
    @include  media-breakpoint-between(md,lg){
      height: 50vh;
        }
   
    &__textbanner {
      color: $text--white;
      
      @include media-breakpoint-between(sm,md) {
        &--headerText{
            font-size: 50pt;
          }
      }
      @include  media-breakpoint-between(md,lg){
        &--headerText{
            font-size: 50pt;
          }
      }
      @include  media-breakpoint-up(xl){
        &--headerText{
            font-size: 10rem;
          }
      }
    }
    &__bltext {
      color:$text--white;
      @include media-breakpoint-between(sm,md) {
        &--paraText{
            font-size: 1.1rem;
           
  
          }
      }

      @include  media-breakpoint-between(md,lg){
        &--paraText{
            font-size: 1.1rem;
            max-width: 50%;
          }
      }

      @include  media-breakpoint-up(xl){
        &--paraText{
            font-size: 2rem;
            max-width: 50%;
          }
      }
      &--paraText {
        margin-left: auto;
        margin-right: auto;
    }
    }
    &__dxp {
          top: 30%;
         
   
    }
    &__dxp:hover{
      transform: scale(1.2);
      transition: transform .2s;
    }
    
    

  }
  table {
    width: 300px;
    margin: 10px;
    th.herotitle {
      background: $text--grey;
      color: $text--white;
      border:1px solid $text--grey;
    }
    th {
      padding: 10px;
      border: 1px solid;
    }
  }
  