// All imported SCSS partials


@import "./partials/_reset";      // Normalize
@import "./partials/_mixins";     // Custom mixins to assist in development
@import "./partials/_grid";       // This is a modified version of the Bootstrap grid to account for MWF breakpoints and
@import "./partials/_fonts";      // Decalaring fonts per MWF guidelines

@import "./partials/_variables";  // Declare global variables here
@import "./partials/_typography"; // Declaring all typography
@import "./partials/_global";
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import "./HomePageBanner.scss";
@import "./gradientBanner.scss";
// @import "./FullPageBanner.scss";
@import "./BannerComponent.scss";
@import "./SliderBanner.scss";
@import "./VideoCarousel.scss";
@import "./VideoCarouselSingle.scss";
@import "./Cards.scss";

.navbar-container {
    &__content {
        ul li {
            @include inline-flex;
        }

    }
}

    .vue-slider-ltr{
        .vue-slider-mark-step {
            left: -6px;
            width: 16px;
            height: 16px;
            top: -6px;
            background: $bg--white;
            border-radius: 50%;
        }
        .vue-slider-mark-step-active{
            background-color: $bg--blue !important;
        }
    } 
    .vue-slider-mark:first-child .vue-slider-mark-step, .vue-slider-mark:last-child .vue-slider-mark-step {
        display: block !important;
    }
    .slider{
        background-color:  $bg--black;
        color: $text--white;
        padding-left:100px;
        &__options{
            padding : 25px 0 50px 0;
        }
    }