.sliderBanner {
    &__carousel {
        &--item {
            opacity: 1;
            transition: transform 1s, left 1s, opacity 1s;

            img {
                height: 100vh !important;
            }
        }

        &--item.tilteffectY {

            transition: 300ms transform all;
            transition-timing-function: linear;
            animation: tilteffectsanim 5s infinite;

        }

        &--item.zoomout--right,
        &--item.zoomout--left {
            display: block !important;
        }

        .zoomin--right {
            animation: zoomin 3s 1;
            transform-origin: top right;
        }

        .zoomin--left {
            animation: zoomin 3s 1;
            transform-origin: top left;
        }

        .zoomout--right {
            animation: zoomout 3s 1;
            transform-origin: top left;
        }

        .zoomout--left {
            animation: zoomout 3s 1;
            transform-origin: top right;
        }
    }
}